Jsons/Chat_Bot_Telegram.json
{
  "name": "Chat_Bot_Telegram",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "2ce4083e-1c06-459a-bcba-2d7513f1695b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        752,
        768
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "cboKKSMqn7q3K0IJ",
          "name": "OpenAi DIPUS Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "08f8aa74-d716-4f8e-88bc-b214f5ee9724",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1056,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a236099-525e-4748-a57d-8b8e2c63c48b",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "24b7e8b8-6fce-4ddc-94b6-30b852891995",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{  $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "c16fa61b-77af-437d-9611-39c656139f85",
      "name": "Text Or Voice",
      "type": "n8n-nodes-base.switch",
      "position": [
        -208,
        192
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "73879af4-87c0-495d-a48b-ead24d2dc3bf",
      "name": "Transcribe The Voice",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        112,
        624
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "cboKKSMqn7q3K0IJ",
          "name": "OpenAi DIPUS Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Descripción general\nEres un asistente personal que ayuda al usuario a cumplir su solicitud.\n\nCuando se te pida realizar una tarea en la fecha actual, utiliza la hora y fecha actuales: {{$now}}\n\nSalida\nDebes entregar el resultado y no incluir ningún enlace. Solo menciona dónde lo agregaste.\nTraduce y devuelve exactamente igual"
        }
      },
      "id": "9db5c31d-706d-4810-8b88-f31b02cf8c34",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        848,
        448
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590b803f-833c-4854-bde7-5241d25b2b32",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6533f6e-d1a2-4601-b041-b170482ff4f8",
      "name": "Send Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb71aef-0ca1-4c26-95e1-c0c83bc82068",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "692a2bae-35da-41d3-be8d-32c0f5dfbbef",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Enviar_Mensaje').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d32a69c-aa5e-4894-91be-7f012da1a2a0",
      "name": "Send Transcribe Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de Telegram",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -176
      ],
      "typeVersion": 1,
      "id": "88baf863-0047-482f-804f-7b7368172e38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de Telegram",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        144
      ],
      "typeVersion": 1,
      "id": "16b50095-9d27-43a7-8a58-07224677e5c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de Telegram",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        416
      ],
      "typeVersion": 1,
      "id": "1c99ced4-cdab-4eec-965b-042bf32f29c2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de Telegram",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        576
      ],
      "typeVersion": 1,
      "id": "04768769-53ad-4900-8b5b-81d14f84fdcd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de OpenAI",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        576
      ],
      "typeVersion": 1,
      "id": "e65eb95f-49d9-4ea5-a73e-6af59a06404a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Procesamiento con IA",
        "height": 672,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        256
      ],
      "typeVersion": 1,
      "id": "58349360-f06e-4f5d-bc75-b6c335e08132",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de OpenAI",
        "height": 192,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        736
      ],
      "typeVersion": 1,
      "id": "447b3030-1111-48af-83d4-6d8007b1f699",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Seleccion de los Datos",
        "height": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        544
      ],
      "typeVersion": 1,
      "id": "1058c5d1-2816-4274-a64f-be2491000ea9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Seleccion de los Datos",
        "height": 240,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        112
      ],
      "typeVersion": 1,
      "id": "12e49083-6ef1-454c-a4a2-b55ea5ea2573",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "65096cb6-d18e-4769-bf98-4f6bb47a0212",
      "name": "Enviar_Mensaje",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -624,
        192
      ],
      "webhookId": "912e007f-19d9-4b5a-a90e-12ba01c9978d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "lX9giRa3VXXHjNAM",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "fd35909d-0cb5-4126-8f78-84a60f7619d7",
      "name": "Descargar_Audio",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -224,
        624
      ],
      "webhookId": "1962cd81-9991-4199-a78a-2250bf29631a",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "lX9giRa3VXXHjNAM",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Enviar_Mensaje').first().json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ad481731-7acf-4995-b20b-1b2e6b468b71",
      "name": "Responder_Mensaje",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1376,
        448
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "lX9giRa3VXXHjNAM",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "ebb9f06f-359e-441a-b781-c7c0aa0183d7",
      "name": "Accion_Escribiendo",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -288,
        -128
      ],
      "webhookId": "2479f7f8-6d54-4d45-921e-af6dcfae768e",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "lX9giRa3VXXHjNAM",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Herramientas Usadas :\n-Telegram Trigger : Usado para comucarnos con el WF.\n-Switch : Usado para identificar la informacion en texto o audio.\n-Transcribe the voice : Usado para transcribir el audio.\n-Ai Agent : Usado para procesar la informacion obetnida a traves del chat.\n-Set : Usado para setear y seleccionar los datos .\n",
        "height": 256,
        "width": 624,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        864
      ],
      "typeVersion": 1,
      "id": "b6761979-d07f-497d-ae88-301f0cd69351",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Chat Bot Telegram : \nDescripcion : \nInteraccion fluida con un chat bot que puede servir de asistente y ayudarte a responder preguntas sencillas con estas integraciones.\n\nFuncionalidad : \nPermite establecer una conversacion fluida sin intervencion humana.\n\nVentajas : \n-Ahorro de tiempo : Permite ahorrar tiempo ya que se puede hablar directamente con la IA para resolver los problemas 24/7 .\n-Facil Implementacion : Permite adapatarla e implementarla de multiples formas permitiendo crear un sistema aun mas robusto y utilizable.\n-Escalabilidad : Es un sistema completamente escalable segun la empresa y los requisitos requeridos.\n-Accesibilidad : Accesible desde cualquier lugar .",
        "height": 320,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        864
      ],
      "typeVersion": 1,
      "id": "ddd2f9f4-fe8d-4c58-982e-1638727fdaef",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder_Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Or Voice": {
      "main": [
        [
          {
            "node": "Send Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar_Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe The Voice": {
      "main": [
        [
          {
            "node": "Send Transcribe Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Context To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Transcribe Context To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Mensaje": {
      "main": [
        [
          {
            "node": "Text Or Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Accion_Escribiendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar_Audio": {
      "main": [
        [
          {
            "node": "Transcribe The Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "360f2ca7-3763-47cf-abfa-5dad38e42608",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e961393280904d1ec6d5445395224814ed81a50280c62aa05ae2658a77af53c"
  },
  "id": "lWbKlCuJ719mfZLR",
  "tags": []
}