Jsons/Clasificador_Gmail_Agente.json
{
  "name": "Clasificador_Gmail_Agente",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        16
      ],
      "id": "a7796588-0806-4bde-81df-8d3ea3b2038d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "= {{ $json.subject }} {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Reclamos",
              "description": "Cuando el ususario expresa una queja o inconformidad sobre un servicio o producto"
            },
            {
              "category": "Soporte",
              "description": "Solictud de ayuda tecnica o soporte para resolver un problema"
            },
            {
              "category": "Ventas",
              "description": "mensaje relacionado con la compra o venta de servicios"
            },
            {
              "category": "Otro",
              "description": "cuando un mensaje no encaje con ninguna de las categorias anteriores"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ee8907f0-370d-4afa-a3ba-af364a14ba07",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_6843509540455935247"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -208
      ],
      "id": "260ba295-8e44-4d98-8b7d-e8d08e3af560",
      "name": "Add label to Reclamos",
      "webhookId": "afc67911-12fa-441a-9fce-e22af4d0f559",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_20951043407431253"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -32
      ],
      "id": "65b9b97a-a98b-4e6a-b83d-c08065ce2511",
      "name": "Add label to Soporte",
      "webhookId": "afc67911-12fa-441a-9fce-e22af4d0f559",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_64226200445485465"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        128
      ],
      "id": "7af15a00-5563-42ce-a697-276ddb1a7dcf",
      "name": "Add label to Ventas",
      "webhookId": "afc67911-12fa-441a-9fce-e22af4d0f559",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_439052090278284766"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        304
      ],
      "id": "ce72842e-4d52-45d6-9977-ca56a0fb6044",
      "name": "Add label to Otro",
      "webhookId": "fd02c1a2-3d8d-4d88-86a8-c3f51e52f1e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Text Classifier').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1312,
        32
      ],
      "id": "26130a9b-92d7-415a-9ac6-756d6a329aa2",
      "name": "Remove label from message",
      "webhookId": "03fad3aa-d329-4c7f-9e17-194186f9fb0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "seEAOnw1M8I2Sy5Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Conectar Credenciales de Chat Modle",
        "height": 176,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        272
      ],
      "typeVersion": 1,
      "id": "bf2a1d1a-3556-4512-813f-6ad3ab1ca42d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Procesamiento y clasificacion con la IA",
        "height": 816,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -288
      ],
      "typeVersion": 1,
      "id": "0c3cb5e1-7afc-4970-b44d-1fa5822583ab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Mover el gmail a las etiquetas correspondientes",
        "height": 816,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -288
      ],
      "typeVersion": 1,
      "id": "5af3340b-0637-408e-a733-8afd9cae7479",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Remover el mensaje clasificado del INBOX",
        "height": 240,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -32
      ],
      "typeVersion": 1,
      "id": "e5af5738-8bdc-401c-9131-59bdcbcc5f98",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Conectar credenciales de GMAIL",
        "height": 224,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -32
      ],
      "typeVersion": 1,
      "id": "9977b936-a188-4346-a632-9d7b2d02c04a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Herramientas Usadas :\n-Gmail : Usado para recibir y ubicar los correos segun su clasificacion.\n-Text Clasifier : Usado para clasificar el tipo de Email y ubicarlo posteriormente en sus respectivos labels.",
        "height": 192,
        "width": 576,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        592
      ],
      "typeVersion": 1,
      "id": "19348651-dc40-4e99-9ac1-c52c72e1a4a6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Agente Clasificador de Emails:\nDescripcion : \nEs un agente que escrapea el inbox de gmail y clasifica los correos recibidos para ubicarlos en sus repsectivos Labels.\n\nFuncionalidad : \n-Permite clasificar Email de forma automatica.\n\nVentajas : \n-Ahorro de tiempo : Al ser un sistema autoamtizado ahorra tiempo de trabajo.\n-Facil Implementacion : Sistema sencillo que permite su integracion solo cambiando alguno parametros .\n-Accesibilidad : Se puede acceder desde cualquier lugar.",
        "height": 464,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        592
      ],
      "typeVersion": 1,
      "id": "3893fd81-9e56-48bc-9f29-fd60f3164a2e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "tngtech/deepseek-r1t-chimera:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "ea007725-e072-412d-af7c-1272f5ba5b0d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "EkjmdjpY2oiSlgUu",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to Reclamos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to Soporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to Otro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to Reclamos": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to Soporte": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to Ventas": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to Otro": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6855749-3cdf-46ed-920b-619b929879c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e961393280904d1ec6d5445395224814ed81a50280c62aa05ae2658a77af53c"
  },
  "id": "G6NXPkUxtvUb8r2m",
  "tags": []
}