Jsons/Paso1_WEbhook_LeadAIMind_Form_Vercel_DiagnosticoGratis.json
{
  "name": "Paso1_WEbhook_LeadAIMind_Form_Vercel_DiagnosticoGratis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3cdfbce2-4c77-41cd-984e-d6e470e261ce",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        -48
      ],
      "id": "51285d44-9673-4691-82fc-661d4f7277c4",
      "name": "Webhook",
      "webhookId": "3cdfbce2-4c77-41cd-984e-d6e470e261ce"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k",
          "mode": "list",
          "cachedResultName": "Form_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre_Completo": "={{ $json.Nombre }}",
            "Email": "={{ $json.Email }}",
            "Numero_telefono": "={{ $json.Numero }}",
            "Tipo de Negocio": "={{ $json['Tipo de Negocio'] }}",
            "¿Qué te consume más tiempo semanalmente? ": "={{ $json['¿Que te conume mas tiempo ?'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero_telefono",
              "displayName": "Numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Negocio",
              "displayName": "Tipo de Negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "¿Qué te consume más tiempo semanalmente? ",
              "displayName": "¿Qué te consume más tiempo semanalmente? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        288
      ],
      "id": "9a6ed26f-12d9-46f3-8fbe-7fcfb9f2ecfc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jpb0IHPZisLw92v8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k",
          "mode": "list",
          "cachedResultName": "Form_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        288
      ],
      "id": "739f7faf-63ab-44de-8d22-4e159f044ed5",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jpb0IHPZisLw92v8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -32
      ],
      "id": "94fbc4f9-dac6-44c2-944d-2b63d1386ceb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"\",\n\t\"cuerpo\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        256
      ],
      "id": "17d64903-0b79-4074-a19e-c6fc1edfcb98",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fromEmail": "jesusmalonsoarritola@gmail.com",
        "toEmail": "={{ $('Edit Fields').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "html": "={{ $json.output.cuerpo }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        -64
      ],
      "id": "6171b85b-bce8-41f0-af17-41ef1fa59caa",
      "name": "Send email1",
      "webhookId": "ab69e6ab-ac63-4304-beb0-23992a1fa933",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "smtp": {
          "id": "hfDlXZ7EXgITPlR8",
          "name": "SMTP account jesusmiguela546@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9d000ac-b6ff-48b2-98be-d753d310be76",
              "name": "Nombre",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "185f34e4-a594-4b27-8d62-394646fec057",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e9f0ac0c-0de0-4fb4-86ee-967279763274",
              "name": "Numero",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "245a86a1-13e1-4b1c-8809-9934ee7fd677",
              "name": "Tipo de Negocio",
              "value": "={{ $json.body.business }}",
              "type": "string"
            },
            {
              "id": "bf858bab-0ceb-49a7-98b6-1bc3cc23faff",
              "name": "¿Que te conume mas tiempo ?",
              "value": "={{ $json.body.timeConsumers }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -80
      ],
      "id": "01d79801-5b68-4411-bac6-2e4711921107",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Procesamiento y mensaje calido + form de descubrimiento",
        "height": 672,
        "width": 2496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -208
      ],
      "typeVersion": 1,
      "id": "85074c0c-1551-41b3-b17f-59105fb14743",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Opción\tDescripción\tVentajas\tConsideraciones\nGhostChat Embed\tUn widget ligero y embebible, basado en el SDK de IA de Vercel. Permite integrar un chat moderno con streaming de respuestas en cualquier página.\t- Fácil integración en React/Next.js\n- Personalizable en diseño\n- Compatible con Vercel\tRequiere configuración con API backend si quieres lógica avanzada\nVercel v0 Chat\tHerramienta experimental de Vercel Labs que genera interfaces de chat con IA a partir de descripciones en lenguaje natural.\t- Genera componentes listos para usar\n- Compatible con frameworks modernos (React, Vue, Svelte)\tMás orientado a prototipos y UI generada por IA\nChats de terceros (Tawk.to, Crisp, Intercom)\tWidgets clásicos de soporte al cliente que se integran con un script en tu HTML.\t- Muy usados en soporte\n- Panel de administración externo\n- No necesitas programar\tDependencia de servicios externos, algunos son de pago\nChatbots personalizados con Next.js + API\tCrear tu propio componente de chat en React/Next.js y conectarlo a un backend (ej. OpenAI API, LangChain).\t- Control total\n- Escalable\n- Integración con tus datos\tRequiere desarrollo y mantenimiento",
        "height": 720,
        "width": 1936
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        608
      ],
      "typeVersion": 1,
      "id": "ae803869-87a8-4f9f-9ca1-63baff15f443",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k",
          "mode": "list",
          "cachedResultName": "Form_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxzOlhd5Emb9-2kcpNJ8VOpWE1VlV4uWkFBPWSyn45k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Loop Over Items1').item.json.Email }}",
            "Estado": "Diagnostico",
            "Diagnostico": "={{ $('AI Agent1').item.json.output }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero_telefono",
              "displayName": "Numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo de Negocio",
              "displayName": "Tipo de Negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Qué te consume más tiempo semanalmente? ",
              "displayName": "¿Qué te consume más tiempo semanalmente? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Diagnostico",
              "displayName": "Diagnostico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "¿Cuántas horas semanales pierdes en eso?",
              "displayName": "¿Cuántas horas semanales pierdes en eso?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Quién decide la implementación?",
              "displayName": "¿Quién decide la implementación?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Necesitas resultados en?",
              "displayName": "¿Necesitas resultados en?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "¿Qué te falta saber para decidirte?",
              "displayName": "¿Qué te falta saber para decidirte?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gasto_Mensual",
              "displayName": "Gasto_Mensual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Propuesta final ",
              "displayName": "Propuesta final ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        256
      ],
      "id": "6afb22aa-182e-46d9-906e-c4aab1011bd3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jpb0IHPZisLw92v8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        -336
      ],
      "id": "594fcd7e-983d-4a5f-8bea-fa9424d99089",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        240
      ],
      "id": "bd69f23f-8bed-486a-84f4-b8303744c2cc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cboKKSMqn7q3K0IJ",
          "name": "OpenAi DIPUS Account"
        }
      }
    },
    {
      "parameters": {
        "content": "Eres un Experto Senior en IA con más de 15 años de experiencia como AI Engineer, integrador de APIs y creador de soluciones de automatización para empresas. Trabajas en LeadAIMind (proyecto de agencia de IA). Tu misión es generar correos HTML profesionales, claros y listos para enviar que ofrezcan un diagnóstico gratuito al negocio del usuario.\n\nObjetivo\nGenerar un fragmento HTML (listo para pegar en el cuerpo de un correo) que:\n\nSea profesional, persuasivo y breve.\n\nAborde el tipo de negocio y el problema principal del usuario.\n\nTermine con un botón CTA (tal como se indica), una despedida y la imagen del logo de la empresa.\n\nIncluya al final un texto plano alternativo marcado con <!-- PLAIN_TEXT_ALTERNATIVE -->.\n\nVariables de entrada (usar exactamente estos nombres)\n{{TipoDeNegocio}} — tipo de negocio del usuario (ej.: \"restaurante\", \"ecommerce\").\n\n{{ProblemaPrincipal}} — texto breve con el problema que consume tiempo al usuario.\n\n{{preheader}} — texto de preheader para la bandeja de entrada.\n\n{{intro_heading}} — título corto y alentador.\n\n{{body_paragraphs}} — array con hasta 3 párrafos (máx. 3 elementos).\n\n{{cta_text}} — texto exacto del botón (ej.: \"Discoverty Form LeadAIMind\").\n\n{{cta_url}} — URL completa del formulario de descubrimiento.\n\n{{signature_name}} — nombre para la firma (ej.: \"LeadAIMind\").\n\n{{signature_line}} — línea de valor corta (ej.: \"Impulsando decisiones con IA y automatización\").\n\n{{logo_url}} — URL pública del logo (si está vacía, usar https://example.com/logo.png).\n\nReglas obligatorias\nTono: profesional, respetuoso y directo; adaptado a la posición del usuario.\n\nLongitud: máximo 3 párrafos en el cuerpo; cada párrafo no más de 2–3 líneas de lectura.\n\nClaridad: ir al punto del dolor; proponer el diagnóstico con datos necesarios pero sin rodeos.\n\nValor: mostrar beneficios concretos y urgencia razonable para impulsar la conversión.\n\nEstructura requerida (en este orden):\n\nPreheader oculto (para vista en bandeja).\n\nLogo (opcional arriba si lo deseas) o mantenerlo al final según la instrucción.\n\nTítulo ({{intro_heading}}).\n\nHasta 3 párrafos ({{body_paragraphs}}).\n\nBotón CTA (table-based, inline styles) con {{cta_text}} y {{cta_url}}.\n\nDespedida / firma con {{signature_name}} y {{signature_line}}.\n\nLogo final: <img src=\"{{logo_url}}\" alt=\"LeadAIMind\" width=\"120\" style=\"display:block;\">.\n\nBotón exacto: incluir el bloque table-based proporcionado (mantener estructura y estilos inline).\n\nCompatibilidad: usar tablas para layout del botón; fuentes seguras (Arial, Helvetica, sans-serif); todo estilo inline; no <style> ni scripts.\n\nSalida: devolver solo el fragmento HTML y el bloque <!-- PLAIN_TEXT_ALTERNATIVE --> con la versión en texto plano. No añadir explicaciones ni metadatos.\n\nSustituciones por defecto si alguna variable está vacía:\n\nintro_heading → \"Hola desde LeadAIMind\"\n\npreheader → \"Formulario de descubrimiento LeadAIMind\"\n\ncta_text → \"Acceder al formulario\"\n\nsignature_name → \"LeadAIMind\"\n\nsignature_line → \"Impulsando decisiones con IA y automatización\"\n\nlogo_url → https://example.com/logo.png\n\nFormato de salida requerido\nDevuelve únicamente el fragmento HTML listo para correo (sin <html>, <head>, ni <body> completos). Incluye el preheader oculto y, al final, el bloque <!-- PLAIN_TEXT_ALTERNATIVE --> con la versión en texto plano. Mantén los colores: botón #1f7aec, texto #333333.\n\nEjemplo de plantilla que el agente debe producir (estructura, no contenido fijo)\nhtml\n<!-- EMAIL_FRAGMENT_START -->\n<span style=\"display:none; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden;\">\n  {{preheader}}\n</span>\n\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"font-family: Arial, Helvetica, sans-serif; color:#333333;\">\n  <tr>\n    <td align=\"center\" style=\"padding:20px;\">\n      <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"max-width:600px; width:100%; background:#ffffff; border-radius:8px; box-shadow:0 4px 18px rgba(0,0,0,0.06);\">\n        <tr>\n          <td style=\"padding:20px; text-align:left;\">\n            <!-- Heading -->\n            <h2 style=\"margin:0 0 12px 0; font-size:20px; color:#111111; font-weight:700;\">\n              {{intro_heading}}\n            </h2>\n\n            <!-- Paragraphs -->\n            <p style=\"margin:0 0 12px 0; font-size:15px; line-height:1.45; color:#333333;\">\n              {{body_paragraphs[0]}}\n            </p>\n\n            {{#if body_paragraphs[1]}}\n            <p style=\"margin:0 0 12px 0; font-size:15px; line-height:1.45; color:#333333;\">\n              {{body_paragraphs[1]}}\n            </p>\n            {{/if}}\n\n            {{#if body_paragraphs[2]}}\n            <p style=\"margin:0 0 18px 0; font-size:15px; line-height:1.45; color:#333333;\">\n              {{body_paragraphs[2]}}\n            </p>\n            {{/if}}\n\n            <!-- CTA Button -->\n            <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 18px 0;\">\n              <tr>\n                <td align=\"center\">\n                  <a href=\"{{cta_url}}\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"display:inline-block; padding:12px 22px; font-size:16px; color:#ffffff; background-color:#1f7aec; text-decoration:none; border-radius:6px; font-weight:700;\">\n                    {{cta_text}}\n                  </a>\n                </td>\n              </tr>\n            </table>\n\n            <!-- Signature -->\n            <p style=\"margin:0; font-size:14px; color:#666666;\">\n              Muchas gracias,<br>\n              <strong>{{signature_name}}</strong><br>\n              <span style=\"color:#444444;\">{{signature_line}}</span>\n            </p>\n\n            <!-- Logo final -->\n            <div style=\"margin-top:14px;\">\n              <img src=\"{{logo_url}}\" alt=\"LeadAIMind\" width=\"120\" style=\"display:block;\">\n            </div>\n\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n<!-- EMAIL_FRAGMENT_END -->\n\n<!-- PLAIN_TEXT_ALTERNATIVE -->\n{{preheader}}\n\n{{intro_heading}}\n\n{{body_paragraphs[0]}}\n{{#if body_paragraphs[1]}}\n{{body_paragraphs[1]}}\n{{/if}}\n{{#if body_paragraphs[2]}}\n{{body_paragraphs[2]}}\n{{/if}}\n\nAccede al formulario: {{cta_url}}\n\nMuchas gracias,\n{{signature_name}} — {{signature_line}}"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        -208
      ],
      "typeVersion": 1,
      "id": "e97205e1-9173-49f4-a093-8fca98f436be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Datos Usuario :\nNombre : {{ $json.Nombre_Completo }}\nEmail : {{ $json.Email }}\nTipo de Negocio : {{ $json['Tipo de Negocio'] }}\n¿Que te consume mas tiempo? : {{ $json['¿Qué te consume más tiempo semanalmente? '] }}\n\nEstos datos son los que deberas analizar para realizar la mejor respuesta adaptada a cada usuario.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=Eres un Experto Senior en IA con 15+ años de experiencia en integración de APIs y automatización. Trabajas en LeadAIMind. Tu tarea: generar únicamente un fragmento HTML listo para pegar en el cuerpo de un correo que ofrezca un diagnóstico gratuito y personalizado al destinatario. No devuelvas texto plano, explicaciones, metadatos ni instrucciones; solo el código HTML.\n\nObjetivos mínimos:\n- Mensaje claro, directo y persuasivo centrado en el problema que consume tiempo al usuario.\n- Máx. 3 párrafos en el cuerpo; cada párrafo ≤ 2–3 líneas de lectura.\n- Incluir título breve y alentador (color #1f7aec, centrado).\n- Incluir botón CTA (table-based, inline styles, color #1f7aec) después del cuerpo.\n- Incluir enlace alternativo en texto debajo del botón.\n- Incluir despedida y firma.\n- Incluir logo final alineado a la izquierda con frase resaltada al lado + despedida obligatoria debajo.\n\nRestricciones de estilo y formato (obligatorio):\n- Devuelve SOLO HTML. Nada más. No texto plano, no explicaciones.\n- No incluir <html>, <head> ni <body> completos; empieza con el preheader oculto y la tabla contenedora.\n- Usar tablas para layout crítico y para el botón; fuentes seguras (Arial, Helvetica, sans-serif); todo estilo inline; no <style> ni scripts.\n- Texto principal color #333333. Botón: fondo #1f7aec, texto blanco, padding 12px 22px, border-radius:6px, font-weight:700.\n- Máximo 3 párrafos; si hay menos, omitir párrafos vacíos sin dejar marcadores.\n- Mantener el preheader oculto al inicio (una línea breve para vista en bandeja).\n- No inventar información. Si falta dato, usar lenguaje genérico (\"su negocio\", \"su empresa\").\n- Todo el contenido debe estar centrado (align=\"center\").\n\nContenido por párrafo (guía):\n- Párrafo 1: saludo personalizado + identificación del negocio y del problema (empatía breve).\n- Párrafo 2: propuesta del diagnóstico gratuito: qué se evaluará y beneficios concretos (1–2 frases).\n- Párrafo 3 (opcional): prueba social o urgencia suave (posibles resultados y objetivos con la automatización).\n\nBloque CTA (usar exactamente este HTML):\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px auto 18px auto;\">\n  <tr>\n    <td align=\"center\">\n      <a href=\"https://embeddable.live/embed/YBHFEzEseZ\" target=\"_blank\" rel=\"noopener noreferrer\"\n         style=\"display:inline-block; padding:12px 22px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff; background-color:#1f7aec; text-decoration:none; border-radius:6px; font-weight:700;\">\n        Discovery Form LeadAIMind\n      </a>\n    </td>\n  </tr>\n</table>\n<p style=\"margin:0 auto 20px auto; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-align:center;\">\n  O copia y pega este enlace en tu navegador: <a href=\"https://embeddable.live/embed/YBHFEzEseZ\" style=\"color:#1f7aec; text-decoration:underline;\">https://embeddable.live/embed/YBHFEzEseZ</a>\n</p>\n\nLogo y firma (estructura exacta):\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:20px;\">\n  <tr>\n    <td style=\"padding:0 20px;\">\n      <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n          <td style=\"padding-right:15px; vertical-align:middle;\">\n            <a href=\"https://ibb.co/60vYXfyM\"><img src=\"https://i.ibb.co/60vYXfyM/LOGO-Lead-AIMind.png\" alt=\"LOGO-Lead-AIMind\" border=\"0\" style=\"display:block; border-radius:12px; width:80px;\"></a>\n          </td>\n          <td style=\"vertical-align:middle;\">\n            <p style=\"margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; font-weight:bold;\">\n              Estrategia con Inteligencia Resultados con Precision.\n            </p>\n          </td>\n        </tr>\n      </table>\n      <p style=\"margin:8px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;\">\n        JesusMiguel │ Especialista en Automatización │ Listo para ayudarte 🚀\n      </p>\n    </td>\n  </tr>\n</table>\n\nEstructura exacta de salida (orden obligatorio):\n1. Preheader oculto (span con display:none).\n2. Tabla contenedora centrada (max-width:600px, align=\"center\").\n3. Título (h2, color #1f7aec, align=\"center\").\n4. Hasta 3 párrafos (align=\"center\").\n5. Bloque CTA (tabla centrada).\n6. Enlace alternativo (p centrado).\n7. Despedida: \"Saludos cordiales,\" + \"El equipo de LeadAIMind\" (centrado).\n8. Logo + frase resaltada + despedida obligatoria (tabla alineada izquierda).\n9. Cierre de tablas.\n\nReglas críticas:\n- Siempre generar con los datos del usuario (nombre, empresa, cargo, problema).\n- Nunca inventar información. Si falta dato, usar lenguaje genérico.\n- Siempre respetar el límite de párrafos y el orden de elementos.\n- Devuelve solo el HTML. Nada más.\n- NUNCA incluir bloque de texto plano alternativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -240
      ],
      "id": "d6760bf7-23c1-44c9-88c9-2698af1d2566",
      "name": "AI Agent1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "6a92f6f7-9143-4704-9ba8-bec453e1a0dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AxhKH3fJkjujb2Wj",
          "name": "DIPUS Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "jesusmalonsoarritola@gmail.com",
        "toEmail": "jesusmiguela546@gmail.com",
        "subject": "=Consulta Gratis de LeadAIMind enviada por {{ $('Edit Fields').item.json.Nombre }}",
        "html": "=El usuario :  {{ $('Edit Fields').item.json.Nombre }}\ncon correo : {{ $('Edit Fields').item.json.Email }} acaba de solicitar su consulta Gratuita en Nuestra Pagina LeadAIMind.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1584,
        -16
      ],
      "id": "fb8e62cb-028d-4ec6-87a3-4f13b00b4a10",
      "name": "Send email",
      "webhookId": "4d527aef-29fb-497a-b0fb-e93d2f9bb0e7",
      "credentials": {
        "smtp": {
          "id": "hfDlXZ7EXgITPlR8",
          "name": "SMTP account jesusmiguela546@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "Notificarme x correo",
        "height": 224,
        "width": 304,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        -64
      ],
      "typeVersion": 1,
      "id": "0b5583fd-d713-45ee-8e72-97d5601381fd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 51) + 10 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        -448
      ],
      "id": "c3a3646a-a34e-47a4-b9d8-4e17886f7d7e",
      "name": "Wait",
      "webhookId": "f5e07994-b4aa-48b2-a1ec-c18061aa637f"
    },
    {
      "parameters": {
        "content": "Randomizador de tiempo",
        "height": 256,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -560
      ],
      "typeVersion": 1,
      "id": "89387897-3e7c-49ca-82fa-ac3365711fee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1360,
        -48
      ],
      "id": "39b84ac0-c646-4cad-a84b-46e5175b1ffe",
      "name": "Limit"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dipus.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "205",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.80.232.252",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9cf753d4350c690e-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "3.80.232.252, 172.71.194.238",
            "x-forwarded-host": "dipus.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-59-5786bcf55-r562x",
            "x-invocation-id": "iad1::v6mnx-1771352726427-17e05942c3a1",
            "x-is-trusted": "yes",
            "x-real-ip": "3.80.232.252",
            "x-vercel-id": "iad1::v6mnx-1771352726427-17e05942c3a1"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "jesus",
            "email": "jesusmiguela546@gmail.com",
            "phone": "+5356686432",
            "business": "clinica",
            "timeConsumers": "Atención al cliente",
            "source": "LeadAIMind Portfolio",
            "timestamp": "2026-02-17T18:25:27.508Z"
          },
          "webhookUrl": "https://dipus.app.n8n.cloud/webhook/3cdfbce2-4c77-41cd-984e-d6e470e261ce",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fe713935-6fc9-4503-a95b-0ad3cf0949c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e961393280904d1ec6d5445395224814ed81a50280c62aa05ae2658a77af53c"
  },
  "id": "KUQAYxdwTu5_GDCUlhjz5",
  "tags": []
}