Jsons/Voice_Agent.json
{
  "name": "Voice_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "708a2229-fbe2-4c7c-a15c-cd0650657037",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2784,
        -160
      ],
      "id": "e61f0206-1ef8-43b9-b253-cc979bbd3fd7",
      "name": "Webhook",
      "webhookId": "708a2229-fbe2-4c7c-a15c-cd0650657037"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1584,
        -160
      ],
      "id": "c34bc9f9-18a2-4f91-9144-f70feef534ae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "158ISF6Hqu3ByFXKCGfidzQefvql6_9OqZNOcANm1NNY",
          "mode": "list",
          "cachedResultName": "Voice_Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158ISF6Hqu3ByFXKCGfidzQefvql6_9OqZNOcANm1NNY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158ISF6Hqu3ByFXKCGfidzQefvql6_9OqZNOcANm1NNY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $json.body.Telefono }}",
            "Nombre": "={{ $json.body.Nombre }}",
            "Apellido": "={{ $json.body.Apeliido }}",
            "Email": "={{ $json.body.Email }}",
            "Descripcion": "={{ $json.body.Descripcion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2496,
        -160
      ],
      "id": "2ac9f025-a085-4e50-82e9-223b8776ec7c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jpb0IHPZisLw92v8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha y hora de la reunion : {{ $('Webhook').item.json.body.Fecha_Hora }}\n\nEmail : {{ $('Webhook').item.json.body.Email }}\n\nDescripcion : {{ $('Webhook').item.json.body.Descripcion }}",
        "options": {
          "systemMessage": "=Tu tarea consiste en agendar una reunion con los datos aportados , adapta la fecha al formato necesario para enviarlo a tu herramienta.\n\nDevuelve SI en caso de agendar y devuelve NO en caso de que no haya disponibilidad pidiendo cambiar la hora y fecha de la cita y diciendole la disponibilidad disponible una vez utilizada la herramienta \"Disponibilidad\".\n\n#Herramienta : \n-\"Crear Evento\" : utiliza siempre esta herramienta para agendar la reunion envia la fecha y hora en el formato adecuado .\n-\"Disponibilidad\" : utiliza siempre esta herramienta antes de agendar cualquier cita para comprobar disponibilidad."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2192,
        -160
      ],
      "id": "9b348360-5ecb-4ae7-b738-6dd196ba6cf7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2320,
        128
      ],
      "id": "10b5bc17-8370-4240-b372-cee8286a5dc2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AxhKH3fJkjujb2Wj",
          "name": "DIPUS Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jesusmiguela546@gmail.com",
          "mode": "list",
          "cachedResultName": "jesusmiguela546@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -2096,
        208
      ],
      "id": "f5838873-5bfc-4510-8229-34e5b3166a44",
      "name": "Crear Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Q0x0cOVAKf6TNI62",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "jesusmiguela546@gmail.com",
          "mode": "list",
          "cachedResultName": "jesusmiguela546@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1792,
        192
      ],
      "id": "16d9f0f9-0837-48cd-94e5-20bca795fc51",
      "name": "Disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Q0x0cOVAKf6TNI62",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d2f3e09e-3fa6-44f3-9912-68b3992c5f08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e961393280904d1ec6d5445395224814ed81a50280c62aa05ae2658a77af53c"
  },
  "id": "lA3mMyqI3Fne1K4T",
  "tags": []
}